<a href="#" class="select" title="{{ createdAt }}">
    {{ name }}
</a>

<div class="actions-panel">
    <a href="#" class="edit" title="Edit bin">
        <i class="icon-edit"></i>
    </a>

    <a href="#" class="latest" title="Open latest request">
        <i class="icon-share"></i>
    </a>

    <a href="#" class="delete" title="Delete bin">
        <i class="icon-trash"></i>
    </a>
</div>