<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<a class="brand" href="#">
    <img src="/images/logo.png" title="jsRestBin Logo"/>
</a>
<nav>
    <div class="nav-collapse collapse">
        <ul id="navigation" class="nav nav-pills">
            <li class="active"><a href="#" data-target="InfoPage">Home</a></li>
            <li><a href="#" data-target="ApiPage">API</a></li>
            <li><a href="https://github.com/exaptis/jsrestbin">Source</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/jsrequestbin">Discuss</a></li>
        </ul>
    </div>
</nav>