<div class="span3 meta">    
    <h2>
        #<%= request.get('reference') %>
    </h2>

    <p><%= new Date(request.get('createdAt')).toUTCString() %></p>
    <p><%= request.get('ip') %></p>
    <p><%= request.get('type') %></p>
</div>
<div class="span9">

    <h2><%= request.get('type') %></h2>

    <ul class="nav nav-tabs">
        <li>
            <a href="#headers_<%= request.id %>" data-toggle="tab">Headers</a>
        </li>
        <li>
            <a href="#cookies_<%= request.id %>" data-toggle="tab">Cookies</a>
        </li>
        <li class="active">
            <a href="#content_<%= request.id %>" data-toggle="tab">Content</a>
        </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="headers_<%= request.id %>">
            <ul class="nav nav-list">
                <li class="nav-header">Headers</li>
                <% _.each(request.get('headers'), function(value, key) { %>
                <li>
                    <strong><%= key %></strong> :
                    <span class="<%= key %>"><%= value %></span>
                </li>
                <% }); %>
            </ul>
      </div>
      <div class="tab-pane" id="cookies_<%= request.id %>">
           <ul class="nav nav-list">
                <li class="nav-header">Cookies</li>
                <% _.each(request.get('cookies'), function(value, key) { %>
                <li>
                    <strong><%= key %></strong> :
                    <span class="<%= key %>"><%= value %></span>
                </li>
                <% }); %>
            </ul>
      </div>
      <div class="tab-pane active" id="content_<%= request.id %>">
            <ul class="nav nav-list">
                <li class="nav-header">Parameters</li>
                <% _.each(request.get('content'), function(value, key) { %>
                <li>
                    <strong><%= key %></strong> :
                    <span class="<%= key %>"><%= value %></span>
                </li>
                <% }); %>
            </ul>
      </div>
    </div>        
</div>