<h2>Bin List</h2>

<div class="bins">
    <ul id="binList" class="nav nav-pills nav-stacked">

    </ul>
</div>

<p>
    <button id="binNew" href="#" class="btn">
        <i class=" icon-plus-sign"></i>
        Add new bin
    </button>
</p>
